body {
  color: #CCCCCC;
  background-color: #333333;
  font-family: "Bangers", "monospaced";
  font-weight: 400;
  font-style: normal;  
}

input {
  font-size: 24px;
  font-family: "Bangers", "monospaced";
  font-weight: 400;
  font-style: normal;  
}